* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', "sans-serif";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.container {
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

// Unstyled list
@mixin list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}